<launch>

    <!-- Define Gazebo parameters -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- Define Iris Lama parameters -->
    <arg name="scan_topic" default="/scan"/>
    <arg name="rosbag" />
    <arg name="particles" default="30"/>
    <arg name="d_thresh"  default="0.5"/>
    <arg name="a_thresh"  default="0.5"/>
    <arg name="mrange"    default="20"/>
    <arg name="threads"   default="4"/>
    <arg name="use_compression" default="false"/>

    <!-- Open gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find turtlebot_gazebo)/world/playground.world"/> -->
        <arg name="world_name" value="$(find turtlebot_gazebo)/world/playground.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
      </include>

    <!-- Load description -->
    <param name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro'" />

    <!-- Run python script to send a service call to gazebo_ros to spawn a URDF robot-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model turtlebot -param robot_description"/>
    
    <!-- Show in Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_description)/rviz/model.rviz"/>

    <!-- Start Robot State Publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Mapping -->
    <node pkg="iris_lama_ros" name="slam2d_ros" type="slam2d_ros" output="screen" required="true">
        <param name="scan_topic" value="$(arg scan_topic)"/>
        <!-- <param name="rosbag"     value="$(arg rosbag)"/> -->
        <param name="d_thresh"  value="$(arg d_thresh)"/>
        <param name="a_thresh"  value="$(arg a_thresh)"/>
        <param name="mrange"    value="$(arg mrange)"/>
        <param name="use_compression" value="$(arg use_compression)"/>
        <param name="create_summary"     value="true"/>
        <param name="map_publish_period" value="30" />
    </node>
</launch>